{% extends "layout.html" %}
{% set active_page = "/settings" %}

{% block title %}
    Change Password
{% endblock %}

{% block heading %}
    Change Password
{% endblock %}

{% block content %} 
    <div class="back-button">
        <button onclick="window.location.href='/settings'"><i class="fa-solid fa-arrow-left-long"></i></button>
    </div>
    <div class="main--center">
        <form action="{{ url_for('settings.password') }}" autocomplete="off" method="post">
            <div class="form__item">
                <input class="form__input" id="old_password" name="old_password" placeholder=" " type="password">
                <label for="old_password">Old Password</label>
            </div>
            <div class="form__item">
                <input class="form__input" id="new_password" name="new_password" placeholder=" " type="password">
                <label for="new_password">New Password</label>
            </div>
            <div class="form__item">
                <input class="form__input" id="confirmed_password" name="confirmed_password" placeholder=" " type="password">
                <label for="confirmed_password">Confirm Password</label>
            </div>
            <button class="form__button" type="submit">Change</button>
        </form>
    </div>
{% endblock %}