{% extends "layout.html" %}
{% set active_page = "/planning" %}

{% block title %}
    Planning
{% endblock %}

{% block heading %}
    Planning
{% endblock %}

{% block content %} 
    <div class="planning">
        <div class="planning__menu">
            
        </div>
        <div class="planning__content">

            <form class="planning__outcomes">
                <h2 class="planning__heading">Outcomes</h2>
                <div class="planning__table">
                    <div class="planning__categories">

                    </div>
                    <div class="planning__input">

                    </div>
                </div>
                <input class="planning__save" type="submit" value="Save">
            </form>

            <form class="planning__incomes">
                <h2 class="planning__heading">Incomes</h2>
                <div class="planning__table">
                    <div class="planning__categories">

                    </div>
                    <div class="planning__input">

                    </div>
                </div>
                <input class="planning__save" type="submit" value="Save">
            </form>
        </div>
    </div>        
{% endblock %}