:root {
    --background-color: 13, 12, 15;
    --secondary-color: 18, 18, 22;
    --button-color: 255, 255, 255;
    --divider-color-dark: 5, 5, 5;
    --divider-color-light: 27, 27, 27;
    --gradient-color-purple: 118, 65, 233;
    --gradient-color-blue: 73, 104, 235;
    --color-black: 8, 8, 8
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(var(--background-color));
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    left: 35px;
    position: absolute;
    top: 50px;
}

.logo__link {
    text-decoration: none;
    color: white;
}

.logo__link--purple {
    color: rgb(var(--gradient-color-purple));
}

.logo__link--blue {
    color: rgb(var(--gradient-color-blue));
}

nav {
    align-items: center;
    background-color: rgb(17, 17, 19);
    border-right: 2px groove rgb(var(--divider-color-dark));
    box-shadow: 2px 0px rgb(var(--divider-color-light));
    display: flex;
    grid-row-start: 1;
    grid-row-end: -1;
    justify-content: center;
    width: 250px;
}

.navbar {
    margin-bottom: 20vh;
    margin-right: 20px;
}

.navbar__item:nth-child(5)
{
    display: none;
}

.navbar__item {
    list-style: none;
    margin-top: 50px;
    margin-bottom: 50px;
}

.navbar__link {
    color: rgb(138, 138, 138);
    position: relative;
    text-decoration: none;
    z-index: 1;
}

.navbar__link i {
    margin-right: 10px;
}

.navbar__link--active {
    color: white;
}

.navbar__link--active::after {
    background: linear-gradient(to right, rgb(var(--gradient-color-purple)), rgb(var(--gradient-color-blue)));
    box-shadow: 0px 0px 3px rgb(var(--divider-color-dark));
}

.navbar__link--active:focus::after {
    opacity: 0.7;
}

.navbar__link::after,
.navbar__link--active::after {
    border-radius: 30px;
    content: '';
    display: block;
    height: 50px;
    left: 20px;
    position: absolute;
    top: 0;
    transform: translate(-25%, -27%);
    transition: background-color 0.25s ease-out;
    width: 220px;
    z-index: -1;
}

.navbar__link:hover {
    color: white;
}

.navbar__link:hover::after {
    background-color: rgba(0, 0, 0, 0.25);
}

.navbar__link:focus {
    outline: none;
}

.navbar__link:focus::after {
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    display: none;
}

header {
    align-items: flex-end;
    border-bottom: 2px groove rgb(var(--divider-color-dark));
    box-shadow: 0px 2px rgb(var(--divider-color-light));
    display: flex;
    height: 120px;
    justify-content: space-between;
    width: 100%;
}

header h1 {
    font-weight: 400;
    margin-left: 50px;
    padding: 20px;
}

.header__icons {
    align-self: center;
    font-size: 20px;
    margin-right: 30px;
    margin-top: 20px;
    padding: 20px;
}

.header__link {
    color: #b1b1b1;
    text-shadow: 2px 2px 2px rgb(var(--color-black));
    margin: 0 20px;
}

.header__link:hover {
    color: white;
}

.alert {
    align-items: center;
    background-color: rgb(91, 192, 222);
    box-shadow: 0px 1px 2px rgb(var(--color-black));
    display: flex;
    height: 60px;
    justify-content: center;
    position: relative;
    width: 100%;
}

.alert--error {
    background-color: rgb(217, 83, 79);
}

.alert--success {
    background-color: rgb(92, 184, 92);
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.login {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.login__head {
    border: solid 2px rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    height: 72px;
    margin: 70px;
    overflow: hidden;
    position: relative;
    width: 72px;
}

.login__head::before {
    background-color: rgba(255, 255, 255, 0.2);
    bottom: 0;
    border-radius: 50%;
    content: "";
    display: block;
    height: 24px;
    left: 2px;
    position: absolute;
    width: 64px;
}

.login__head::after {
    background-color: rgba(255, 255, 255, 0.2);
    bottom: 45%;
    border-radius: 50%;
    content: "";
    display: block;
    height: 24px;
    left: 32%;
    position: absolute;
    width: 24px;
}


.login__item {
    margin-bottom: 50px;
    position: relative;
}

.login__input,
.login__button {
    border: none;
    border-radius: 30px;
    color: rgb(var(--color-black));
    font-size: 24px;
    height: 60px;
    overflow: hidden;
    padding: 20px;
    width: 100%;
}

.login__input:hover {
    box-shadow: 0px 0px 3px white;
}

.login__input:focus,
.login__button:focus {
    outline: none;
    box-shadow: 0px 0px 3px white;
}

.login__item label {
    color: rgba(130, 130, 130, 0.4);
    cursor: text;
    font-size: 22px;
    left: 20px;
    opacity: 1;
    position: absolute;
    top: 15px;
    transition: 0.1s linear;
}

.login__input:hover + label,
.login__item label:hover {
    transform: translate(30px);
    opacity: 0.3;
}

.login__input:focus + label,
.login__input:not(:placeholder-shown) + label {
    opacity: 0;
    transform: translate(220px);
}

.login__redirect {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    margin-bottom: 30px;
    margin-top: -30px;
}

.login__button {
    background: linear-gradient(to right, rgb(var(--gradient-color-purple)), rgb(var(--gradient-color-blue)));
    box-shadow: 0px 0px 5px black;
    color: white;
    cursor: pointer;
    max-width: 50%;
    padding: 0;
    position: relative;
}

.login__button::after {
    background-color: rgba(255, 255, 255, 0.3);
    content: "";
    display: block;
    height: 80px;
    left: -80px;
    position: absolute;
    top: -10px;
    transform: skewX(-15deg);
    transition: transform 0.1s linear;
    width: 70px;
}

.login__button:hover::after {
    transform: skewX(-15deg) translate(250px);
}

.settings {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: center;
    width: 100%;
}

.settings__password,
.settings__delete {
    align-items: center;
    background-color: rgb(var(--secondary-color));
    border-radius: 5px;
    color: rgb(var(--button-color));
    display: flex;
    font-size: 20px;
    height: 80px;
    justify-content: center;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    width: 350px;
}

.settings__delete {
    --button-color: 129, 33, 33;
}

.settings__password:hover,
.settings__delete:hover {
    border: 2px solid rgba(var(--button-color), 0.1);
    color: rgba(var(--button-color), 0.5);
}

.settings__password:focus,
.settings__delete:focus {
    outline: 2px solid rgb(var(--button-color));
}

.settings__container {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100%;
    width: 100%;
}

.settings__icon {
    border-right: 2px solid rgba(var(--button-color), 0.3);
    font-size: 30px;
}

@media (max-width: 1400px) {
    .navbar {
        margin-bottom: 10vh;
    }

    .navbar__link::after,
    .navbar__link--active::after {
        transform: translate(-24%, -25%);
        width: 210px;
    }
}

@media (max-width: 1200px) {
    .navbar {
        margin-bottom: 0;
    }

    .navbar__link::after,
    .navbar__link--active::after {
        transform: translate(-22%, -27%);
        width: 200px;
    }

    header {
        height: 100px;
    }
}

@media (max-width: 992px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }

    .logo {
        display: none;
    }

    nav {
        border: none;
        box-shadow: 0px 0px 2px rgb(var(--color-black));
        height: 100vh;
        position: absolute;
        transform-origin: left;
        transform: scale(0, 1);
        transition: transform 0.2s ease-in-out;
        width: 400px;
        z-index: 1;
    }

    .navbar {
        margin-top: 60px;
    }

    .navbar__item {
        font-size: 18px;
        margin-top: 60px;
    }

    .navbar__item:nth-child(5) {
        display: block;
    }

    .navbar__link::after,
    .navbar__link--active::after {
        border-radius: 0;
        height: 70px;
        transform: translate(-34.5%, -31%);
        width: 400px;
    }

    .nav-toggle:checked ~ nav {
        transform: scale(1, 1);
    }

    .nav-toggle:checked ~ label {
        transform: translateX(300px);
    }

    .nav-toggle-label {
        display: block;
        height: 25px;
        left: 40px;
        position: absolute;
        top: 30px;
        transition: transform 0.2s ease-in-out;
        width: 2em;
        z-index: 2;
    }

    .nav-toggle-label:hover {
        cursor: pointer;
    }

    .nav-toggle-label span {
        position: relative;
    }

    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        background: white;
        border-radius: 3px;
        display: block;
        height: 2px;
        width: 2em;
    }

    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        content: "";
        position: absolute;
    }

    .nav-toggle-label span::before {
        top: 20px;
    }

    .nav-toggle-label span::after {
        top: 10px;
    }

    header {
        justify-content: center;
    }

    .header__icons {
        display: none;
    }

    .settings__password,
    .settings__delete {
        font-size: 24px;
        height: 100px;
        width: 400px;
    }
}

@media (max-width: 768px) {
    nav {
        width: 100vw;
    }

    .nav-toggle:checked ~ label {
        transform: translateX(75vw);
    }

    .settings__password,
    .settings__delete {
        font-size: 26px;
        height: 120px;
        width: 450px;
    }
}

@media (max-width: 768px) and (orientation: landscape) {
    .navbar__item {
        margin-top: 0;
    }

    .nav-toggle:checked ~ label {
        transform: translateX(80vw);
    }
}
