<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/ae0ed70008.js" crossorigin="anonymous"></script>
        <script defer src="/static/script.js"></script>
        <link href="/static/styles.css" rel="stylesheet">
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <div class="wrapper">
            <nav>
                <ul class="navbar">
                    <div class="navbar__header">
                        <div class="navbar__logo">
                            <a class="logo__link" href="/">Ho<span class="logo__link--purple">m</span><span class="logo__link--blue">e</span> budget</a>  
                        </div>
                        <div class="navbar__close">
                            <i class="fa-solid fa-xmark"></i>
                        </div>
                    </div>
                    <li class="navbar__item">
                        <a class="navbar__link navbar__link--active" href="#"><i class="fa-solid fa-chart-line"></i>Summary</a>
                    </li>
                    <li class="navbar__item">
                        <a class="navbar__link" href="/transactions"><i class="fa-solid fa-list-ul"></i>Transactions</a>
                    </li>
                    <li class="navbar__item">
                        <a class="navbar__link" href="#"><i class="fa-regular fa-clock"></i></i>Planning</a>
                    </li>
                    <li class="navbar__item">
                        <a class="navbar__link" href="/settings"><i class="fa-solid fa-gear"></i>Settings</a>
                    </li>
                    <li class="navbar__item">
                        <a class="navbar__link" href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</a>
                    </li>
                </ul>
            </nav>
           <header>
            <div class="toggle-menu">
                <div class="toggle-menu__bar"></div>
            </div>
            <div class="logo">
                <a class="logo__link" href="/">Ho<span class="logo__link--purple">m</span><span class="logo__link--blue">e</span> budget</a>  
            </div>
               <h1>{% block heading %}{% endblock %}</h1>
               <div class="header__icons">
                    <a class="header__link" href="/currency"><i class="fa-solid fa-money-bills"></i></a>
                    <a class="header__link" href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
               </div>
           </header> 
           <main>
                {% with messages = get_flashed_messages(with_categories=true) %}

                    {% if messages %} 
                        {% for category, message in messages %}
                        
                            {% if category == 'error' %}
                                <div class="alert alert--error">
                                    {{ message }}
                                </div>
                            {% else %} 
                                <div class="alert alert--success">
                                    {{ message }}
                                </div>
                            {% endif %}

                        {% endfor %} 
                    {% endif %} 
                {% endwith %}

                {% block content %}{% endblock %}
           </main>
        </div>

    </body>
</html>