<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

        <script src="https://kit.fontawesome.com/ae0ed70008.js" crossorigin="anonymous"></script>

        <link href="/static/styles.css" rel="stylesheet">
        
        <title>{% block title %}{% endblock %}</title>

    </head>

    <body>

        <div class="wrapper">

            <nav>
                <div class="logo">
                    Home budget
                </div>
                <div class="navbar">
                    <ul class="navbar__list">
                        <li class="navbar__item navbar__item--active">
                            <a class="navbar__link" href="#"><i class="fa-solid fa-chart-line"></i>Summary</a>
                        </li>
                        <li class="navbar__item">
                            <a class="navbar__link" href="#"><i class="fa-solid fa-list-ul"></i>Transactions</a>
                        </li>
                        <li class="navbar__item">
                            <a class="navbar__link" href="#"><i class="fa-regular fa-clock"></i></i>Planned</a>
                        </li>
                        <li class="navbar__item">
                            <a class="navbar__link" href="#"><i class="fa-solid fa-gear"></i>Settings</a>
                        </li>
                    </ul>
                </div>
            </nav>
    
           <header>
               
           </header> 

        </div>

    </body>

</html>