{% extends "layout.html" %}

{% block title %}
    Planning
{% endblock %}

{% block heading %}
    Planning
{% endblock %}

{% block content %} 
    <div class="planning">
        <div class="planning__menu">
            <button class="planning__new form__button">Create New</button>



            <div class="select">
                <div class="select__options">
                    <div class="select__option active">All</div>
                    <div class="select__option">Income</div>
                    <div class="select__option">Outcome</div>
                </div>
                <div class="select__selected">All</div>
                <div class="select__head">Filter</div>
            </div>

            <form class="planning__date" action="#">
                <select name="months">
                    <option value="months">Month</option>
                    <option value="test">Test</option>
                    <option value="test">Test</option>
                    <option value="test">Test</option>
                </select>

                <select name="year">
                    <option value="year">Year</option>
                    <option value="test">Test</option>
                </select>
            </form>
            <input type="search" class="planning__search" name="search" value="Search">
        </div>

        <div class="planning__table"> 
        </div>
    </div>
{% endblock %}