{% extends "layout.html" %}

{% block title %}
    Transactions
{% endblock %}

{% block heading %}
    Transactions
{% endblock %}

{% block content %} 
    <div class="transactions">
        <div class="transactions__menu">
            <button class="transactions__new form__button">Create New</button>

            <div class="select">
                <div class="select__options filter">
                    <div class="select__option filter__option active">All</div>
                    <div class="select__option filter__option">Income</div>
                    <div class="select__option filter__option">Outcome</div>
                </div>
                <div class="select__selected filter__selected">All</div>
                <div class="select__head">Filter</div>
            </div>

            <div class="select">
                <div class="select__options months">
                    <div class="select__option months__option">January</div>
                    <div class="select__option months__option">February</div>
                    <div class="select__option months__option">March</div>
                    <div class="select__option months__option">April</div>
                    <div class="select__option months__option">May</div>
                    <div class="select__option months__option active">June</div>
                    <div class="select__option months__option">July</div>
                    <div class="select__option months__option">August</div>
                    <div class="select__option months__option">Septemper</div>
                    <div class="select__option months__option">October</div>
                    <div class="select__option months__option">November</div>
                    <div class="select__option months__option">December</div>
                </div>
                <div class="select__selected months__selected">June</div>
                <div class="select__head">Month</div>
            </div>

            <div class="select">
                <div class="select__options years">
                    <div class="select__option years__option active">2022</div>
                    {% for i in range(10) %}
                        <div class="select__option years__option">
                            {{ 2023 + i }}
                        </div>
                    {% endfor %}
                </div>
                <div class="select__selected years__selected">2022</div>
                <div class="select__head">Year</div>
            </div>

            <div class="search">
                <i class="search__icon fa-solid fa-magnifying-glass"></i>
                <input type="search" class="search__input" name="search" value="Search">
            </div>
            
        </div>

        <div class="transactions-table__container"> 
            <table class="transactions-table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Amount</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>22.05.2022</td>
                        <td>Super long Amazon buy with delivery</td>
                        <td>Outcome</td>
                        <td>59$</td>
                        <td>Others</td>
                    </tr>
                    <tr>
                        <td>22.05.2022</td>
                        <td>Amazon buy</td>
                        <td>Outcome</td>
                        <td>59$</td>
                        <td>Others</td>
                    </tr>
                    <tr>
                        <td>22.05.2022</td>
                        <td>Amazon buy</td>
                        <td>Outcome</td>
                        <td>59$</td>
                        <td>Others</td>
                    </tr>
                    <tr>
                        <td>22.05.2022</td>
                        <td>Amazon buy</td>
                        <td>Outcome</td>
                        <td>59$</td>
                        <td>Others</td>
                    </tr>
                    <tr>
                        <td>22.05.2022</td>
                        <td>Amazon buy</td>
                        <td>Outcome</td>
                        <td>59$</td>
                        <td>Others</td>
                    </tr>
                    <tr>
                        <td>22.05.2022</td>
                        <td>Amazon buy</td>
                        <td>Outcome</td>
                        <td>59$</td>
                        <td>Others</td>
                    </tr>
                    <tr>
                        <td>22.05.2022</td>
                        <td>Amazon buy</td>
                        <td>Outcome</td>
                        <td>59$</td>
                        <td>Others</td>
                    </tr>
                    <tr>
                        <td>22.05.2022</td>
                        <td>Amazon buy</td>
                        <td>Outcome</td>
                        <td>59$</td>
                        <td>Others</td>
                    </tr>
                    <tr>
                        <td>22.05.2022</td>
                        <td>Amazon buy</td>
                        <td>Outcome</td>
                        <td>59$</td>
                        <td>Others</td>
                    </tr>
                    <tr>
                        <td>22.05.2022</td>
                        <td>Amazon buy</td>
                        <td>Outcome</td>
                        <td>59$</td>
                        <td>Others</td>
                    </tr>
                    <tr>
                        <td>22.05.2022</td>
                        <td>Amazon buy</td>
                        <td>Outcome</td>
                        <td>59$</td>
                        <td>Others</td>
                    </tr>
                    <tr>
                        <td>22.05.2022</td>
                        <td>Amazon buy</td>
                        <td>Outcome</td>
                        <td>59$</td>
                        <td>Others</td>
                    </tr>
                    <tr>
                        <td>22.05.2022</td>
                        <td>Amazon buy</td>
                        <td>Outcome</td>
                        <td>59$</td>
                        <td>Others</td>
                    </tr>
                    <tr>
                        <td>22.05.2022</td>
                        <td>Amazon buy</td>
                        <td>Outcome</td>
                        <td>59$</td>
                        <td>Others</td>
                    </tr>
                    <tr>
                        <td>22.05.2022</td>
                        <td>Amazon buy</td>
                        <td>Outcome</td>
                        <td>59$</td>
                        <td>Others</td>
                    </tr>
                    <tr>
                        <td>22.05.2022</td>
                        <td>Amazon buy</td>
                        <td>Outcome</td>
                        <td>59$</td>
                        <td>Others</td>
                    </tr>
                    <tr>
                        <td>22.05.2022</td>
                        <td>Amazon buy</td>
                        <td>Outcome</td>
                        <td>59$</td>
                        <td>Others</td>
                    </tr>
                    <tr>
                        <td>22.05.2022</td>
                        <td>Amazon buy</td>
                        <td>Outcome</td>
                        <td>59$</td>
                        <td>Others</td>
                    </tr>
                    <tr>
                        <td>22.05.2022</td>
                        <td>Amazon buy</td>
                        <td>Outcome</td>
                        <td>59$</td>
                        <td>Others</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}